* {
  font-family: "Markazi Text", "Karla", serif;
}
label,
input,
select,
textarea,
p {
  font-family: "Karla";
}
input,
select,
option,
textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
}

input,
select{
  width: 10rem;
}

body{
  margin: 0;
  padding: 0;
  margin-top: -22px;
}
menu{
  display: grid;
  list-style: none;
}
button{
  background-color: white;
  border: none;
}

.burger-icon{
  margin-top: 1.5rem;
}
a:visited,
Link:visited,
a:link,
Link:link{
  text-decoration: none;
  color: black;
}

.action-button{
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-family: "Karla";
  font-size: 1rem;
  text-decoration: none;
}
.action-button:hover{
  background-color: #495e57;
  color: #eee;
  border: solid 1px #edefee;
  transition: 0.2s;
}
.sub-section{
  margin-top: -1rem;
}

/* NAVBAR STYLING */
.navbar-menu{
  grid-template-columns: repeat(7,1fr);
  align-items: center;
}
.navbar-menu > li,
.navbar-menu > a,
.navbar-menu > Link{
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgba(12, 86, 12, 0.896);
  text-decoration: none;
}
.mobile{
  display: none;
}
.nav-image{
  max-height: 4rem;
  margin-top: 0.5rem;
  margin-left: -1.25rem;
  margin-bottom: 0.3rem;
}
.burger{
  display: none;
  grid-template-columns: 5fr 1fr;
}
.hover-effect:hover{
  color: #f4ce14;
  transition: 0.25s;
}

/* CALL TO ACTION */
.call-to-action{
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 6rem 1.2rem 5rem;
  margin-top: -1.3rem;
  width: fit-content;
}

.hero-text > h1{
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: -1rem;
}
.hero-text > h2{
  font-size: 2.3rem;
  margin-top: 1rem;
}
.hero-image{
  max-height: 17rem;
  padding-left: 2rem;
}
.hero-image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SPECIALS */
.specials{
  padding: 2rem 5rem 0 5rem;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}
.specials-topbar{
  align-items: center;
  margin-bottom: 2rem;
}
.specials-topbar > h1{
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.specials-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2vw;
}
.menu-card{
  background-color: #edefee;
  padding-bottom: 1rem;
}
.menu-card > img{
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.menu-card-content{
  margin: 0.5rem 2rem 1rem 2rem;
}
.menu-card-content > h1{
  font-size: 1.5rem;
  margin: 0;
}
.menu-card-content > h3{
  font-size: 1rem;
  margin: 0;
}
.menu-card-content p{
  height: 70px;
  width: 100%;
  margin: 20px 1px;
  text-align: left;
}

/* RESERVE A TABLE */
.reserve-table{
  position: relative;
  text-align: center;
  color: white;
  margin-top: -1.4rem;
}
.reserve-header-text{
  background-color: #495e57;
  padding: 0 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  border-radius: 0.5rem;
}
.reservation-form{
  text-align: center;
  padding: 2rem 0 0.5rem 0;
}
.reservation-form div{
  margin-bottom: 1.5rem;
}

.header-reserve{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
small p{
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.special-button{
  background-color: #f4ce14;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  
}

.special-button:hover{
  background-color: #495e57;
  color: #eeeeee;
  border-style: solid;
  border-width: 0.1rem;
  transition: 0.2s;
}
.specials-carousel{
  display: none;
}
/* Confirmation Page */
.confirmation-header{
  position: relative;
  text-align: center;
  min-height: 70vh;
  color: white;
  margin-top: -1.4rem;
}
.confirmation-img{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.redirect-buttons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  gap: 12vw;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.redirect-button{
  background-color: #464646;
  color: white !important;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  min-width: 10vw;
  font-family: "Karla";
  font-size: 18px;
  text-decoration: none;
}
.redirect-button:hover{
  background-color: #f4ce14;
  color: #464646 !important;
  transition: 0.2s;
}

/* TESTIMONIAL CARDS */
.testimonials{
  padding: 0rem 5rem 2rem 5rem;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}
.testimonials-topbar h1{
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0 1rem 0;
}
.testimonials-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row: 1fr 1fr;
  gap: 2vw;
  align-items: center;
  text-align: left;
  align-content: center;
  align-self: center;
  margin-left: -1.1rem;
}
.testimonial-card{
  background-color: #edefee;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 11.5rem;
  width: 12rem;
}
.testimonial-card > img{
  width: 3rem;
  height: 2.5rem;
  object-fit: contain;
}
.testimonials-carousel{
  display: none;
}
.specials-carousel{
  margin: 0 2rem 0 2rem;
}

/* ABOUT */
.about-us{
  background-color: #f4ce14;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 5rem 2.5rem 5rem;
  min-height: 22rem;
  margin-bottom: -1rem;
  gap: 25vw;
}
.about-us-page{
  background-color: #f4ce14;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -0.25rem;
  padding: 1.25rem 5rem 2.5rem 5rem;
  min-height: 20rem;
  margin-bottom: -1rem;
  object-fit: cover;
  gap: 25vw;
}
.about-subtext{
  margin-top: -1.5rem;
}
.double-image{
  max-height: 18rem;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.double-image img{
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.about-1{
  position: relative;
  top: 0;
  left: -1rem;
}
.about-2{
  position: absolute;
  left: 5rem;
  top: -3.5rem;
}

/* FOOTER STYLING */
footer{
  background-color: #495e57;
  min-height: 13rem;
  color: #fff;
  margin-top: -1.4rem;
  padding-bottom: 1rem;
}
footer > menu{
  grid-template-columns: repeat(4,1fr);
}
.footer-header{
  margin-bottom: -1.25rem;
}
.footer-links{
  padding: 0;
  list-style: none;
}
.footer-links > a,
.footer-links > Link,
.footer-links > li{
  display: block;
  text-align: left;
  padding-top: 0.2rem;
  color: white;
  font-family: "Karla", "Sans Serif";
}

.footer-links > a:hover,
.footer-links > Link:hover{
  text-decoration: none;
  color: #f4ce14;
}
.img-footer{
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}
.img-footer > img{
  max-height: 8rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 3rem;
  background-color: white;
  padding: 0.5rem;
}


/* Media Queries */
/********** Large devices only **********/
@media (max-width: 1001px) {
  .action-button{
    font-size: 1.2rem;
  }
  .specials{
    margin: -1rem 0rem 0 -3rem;
  }
  .specials-topbar{
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  .specials-carousel{
    display: none;
  }

  .testimonials-topbar h1{
    margin: 2rem 0 1rem 0;
  }
  .double-image{
    max-height: 16rem;
  }
  .about-us{
    gap: 12vw;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1000px) {
  body{
    margin: 0;
    padding: 0;
  }
  .action-button{
    font-size: 1.2rem;
  }
  .hero-image{
    width: 80%;
  }
  .specials{
    margin: -2rem 0 0 -3rem;
  }
  .specials-topbar{
    flex-wrap: wrap;
    margin-left: 2rem;
    font-size: 16px;
  }
  .specials-carousel{
    display: none;
  }

  .testimonials-topbar h1{
    margin: 2rem 0 1rem 0;
  }
  .double-image{
    max-height: 16rem;
  }
  .about-us{
    gap: 12vw;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .action-button{
    font-size: 1.2rem;
  }
  .call-to-action{
    max-width: fit-content;
  }
  .specials{
    margin: -1rem 0rem 0 -3rem;
  }
  .specials-topbar{
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  .specials-carousel{
    display: none;
  }

  .testimonials-topbar h1{
    margin: 2rem 0 1rem 0;
  }
  .double-image{
    max-height: 16rem;
  }
  .about-us{
    gap: 12vw;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .nav-image{
    width: 90px;
    height: 100%;
    margin-top: 15px;
  }
  .navbar-menu{
    font-size: 10px;
    margin-bottom: -5px;
  }
  .hero-text h1{
    font-size: 2rem;
  }
  .hero-text h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .hero-text p{
    font-size: 0.8rem;
  }
  .call-to-action{
    padding: 1rem 2rem 1rem 1rem;
    margin: 0;
    height: 12rem;
    width: fit-content;
  }
  .action-button{
    font-size: 12px;
  }
  .hero-image{
    width: 80%;
    height: 60%;
  }
  .reserve-header-text{
    font-size: 20px;
  }

  /* Specials */ 
  .specials-topbar h1{
    font-size: 30px;
  }
  .specials-topbar{
    align-items: center;
    margin-left: 22px;
  }
  .specials-cards{
    width: 100%;
    margin: 20px 20px 20px 23px ;
  }
  .specials-cards h1{
    font-size: 16px;
  }
  .specials-cards h3{
    font-size: 12px;
  }
  .specials-cards p{
    font-size: 12px;
  }
  .special-button{
    font-size: 10px;
    padding: 0.5rem 0.5rem;
  }
  /* Testimonials */

  .testimonials-carousel{
    display: none;
  }
  .testimonials-topbar h1{
    font-size: 30px;
  }
  .testimonials-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row: 1fr 1fr;
  gap: 10px;
  align-items: center;
  text-align: left;
  align-content: center;
  align-self: center;
  margin: 1rem 1rem 0.5rem -2rem;
}
.testimonial-card{
  background-color: #edefee;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 8rem;
  width: 8rem;
}
.testimonial-card h3{
  font-size: 15px;
  margin-top: -5px;
}
.testimonial-card p{
  font-size: 12px;
  margin-top: -7px;
}
.testimonial-card > img{
  width: 1.2rem;
  height: 2rem;
  object-fit: contain;
}
/* About Us */
  .about-us{
    gap: 10vw;
    min-height: 15rem;
  }
  .about-us h1{
    font-size: 30px;
  }
  .about-us h2{
    font-size: 20px;
  }
  .about-subtext{
    font-size: 10px;
    margin-top: -10px;
  }
  .double-image{
    max-height: 12rem;
    width: 80%;
  }
  .about-1{
    left: 0;
    top: 0;
  }
  .about-2{
    top: -3rem;
    left: 4rem;
  }
  .about-us-page{
    gap: 10vw;
    min-height: 15rem;
  }
  .about-us-page h1{
    font-size: 30px;
  }
  .about-us-page h2{
    font-size: 20px;
  }
  .about-us-page .about-subtext{
    font-size: 14px;
  }
  /* Footer */ 
  footer{
    min-height: 10rem;
    margin-bottom: -2rem;
    padding: 0.9rem 0rem;
  }
  .footer-header{
    font-size: 20px;
  }
  .footer-links{
    font-size: 13px;
    margin-top: 20px;
  }
  .img-footer img{
    width: 40%;
    height: 70%;
  }
  /* Headers */
  .reserve-header-text{
    font-size: 14px;
    padding: -5rem 4rem;
  }
  .header-reserve{
    margin-top: 15px;
    width: 100%;
    height: 200px;
  }
  .confirmation-img{
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
  .confirmation-header h1{
    font-size: 17px;
  }
  .confirmation-header h4{
    font-size: 12px;
  }
  .redirect-button{
    font-size: 11px;
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      min-width: 10vw;
      font-family: "Karla";
  }
  .confirmation-header{
    padding: -1rem;
  }
  .redirect-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    gap: 10vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (min-width:480px) and (max-width:766px){
  .nav-image{
    width: 80px;
    height: 100%;
    margin-top: 13px;
  }
  .navbar-menu{
    font-size: 8px;
    margin-bottom: -6px;
    margin-top: 12px;
  }
  .hero-text h1{
    font-size: 1.1rem;
  }
  .hero-text h2{
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  .hero-text p{
    font-size: 0.65rem;
  }
  .call-to-action{
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    height: 10rem;
    width: fit-content;
  }
  .action-button{
    font-size: 10px;
    padding: 0.3rem;
  }
  .hero-image{
    width: 70%;
    height: 50%;
  }
  .reserve-header-text{
    font-size: 20px;
  }

  /* Specials */ 
  .specials-topbar h1{
    font-size: 20px;
  }
  .specials-cards{
    display: none;
  }
  .specials-topbar{
    align-items: center;
    margin-left: 22px;
  }

  /* Testimonials */

  .testimonials-carousel{
    display: none;
  }
  .testimonials-topbar h1{
    font-size: 20px;
  }
  .testimonials-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  text-align: left;
  align-content: center;
  align-self: center;
  margin: 1rem 1rem 0.5rem -2rem;
}
.testimonial-card{
  background-color: #edefee;
  padding: 0.5rem;
  border-radius: 0.2rem;
  height: 5.5rem;
  width: 5rem;
}
.testimonial-card h3{
  font-size: 10px;
  margin-top: -5px;
}
.testimonial-card p{
  font-size: 8px;
  margin-top: -7px;
}
.testimonial-card > img{
  width: 1rem;
  height: 2rem;
  object-fit: contain;
  margin-top: -5px;
}
/* About Us */
  .about-us{
    gap: 8vw;
    min-height: 10rem;
  }
  .about-us h1{
    font-size: 20px;
  }
  .about-us h2{
    font-size: 0.8rem;
  }
  .about-subtext p{
    font-size: 0.2rem;
    margin-top: -10px;
  }
  .double-image{
    max-height: 10rem;
    width: 80%;
  }
  .about-1{
    left: 0;
    top: 0;
  }
  .about-2{
    top: -3rem;
    left: 2rem;
  }
  .about-us-page{
    gap: 10vw;
    min-height: 15rem;
  }
  .about-us-page h1{
    font-size: 20px;
  }
  .about-us-page h2{
    font-size: 18px;
  }
  .about-us-page .about-subtext{
    font-size: 12px;
  }
  /* Footer */ 
  footer{
    max-height: 2rem;
    margin-bottom: -10rem;
    padding: 1.72rem 0rem;
    width: 100%;
  }
  .footer-header{
    font-size: 15px;
  }
  .footer-links{
    font-size: 10px;
    margin-top: 20px;
  }
  .img-footer img{
    width: 40%;
    height: 60%;
  }
  /* Headers */
  .reserve-header-text{
    font-size: 10px;
    padding: -3rem 2rem;
  }
  .header-reserve{
    margin-top: 16px;
    width: 100%;
    height: 200px;
  }
  .confirmation-img{
    margin-top: 16px;
    width: 100%;
    height: 50%;
  }
  .confirmation-header h1{
    font-size: 15px;
  }
  .confirmation-header h4{
    font-size: 10px;
  }
  .redirect-button{
    font-size: 9px;
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      min-width: 10vw;
      font-family: "Karla";
  }
  .confirmation-header{
    padding: -1rem;
  }
  .redirect-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    gap: 10vw;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .reservation-form{
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    font-size: 12px;
  }
  .reservation-form div{
    margin-bottom: 1.5rem;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (min-width:0px) and (max-width: 479px) {
  .nav-image{
    width: 30px;
    height: 100%;
    margin-top: 15px;
  }
  .navbar-menu{
    font-size: 8px;
    margin-bottom: -5px;
  }
  .hero-text h1{
    font-size: 2rem;
  }
  .hero-text h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .hero-text p{
    font-size: 0.8rem;
  }
  .call-to-action{
    padding: 1rem 2rem 1rem 1rem;
    margin: 0;
    height: 12rem;
    width: fit-content;
  }
  .action-button{
    font-size: 12px;
  }
  .hero-image{
    width: 80%;
    height: 60%;
  }
  .reserve-header-text{
    font-size: 20px;
  }

  /* Specials */ 
  .specials-topbar h1{
    font-size: 30px;
  }
  .specials-topbar{
    align-items: center;
    margin-left: 22px;
  }
  .specials-cards{
    width: 100%;
    margin: 20px 20px 20px 23px ;
  }
  .specials-cards h1{
    font-size: 16px;
  }
  .specials-cards h3{
    font-size: 12px;
  }
  .specials-cards p{
    font-size: 12px;
  }
  .special-button{
    font-size: 10px;
    padding: 0.5rem 0.5rem;
  }
  /* Testimonials */

  .testimonials-carousel{
    display: none;
  }
  .testimonials-topbar h1{
    font-size: 30px;
  }
  .testimonials-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row: 1fr 1fr;
  gap: 10px;
  align-items: center;
  text-align: left;
  align-content: center;
  align-self: center;
  margin: 1rem 1rem 0.5rem -2rem;
}
.testimonial-card{
  background-color: #edefee;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 8rem;
  width: 8rem;
}
.testimonial-card h3{
  font-size: 15px;
  margin-top: -5px;
}
.testimonial-card p{
  font-size: 12px;
  margin-top: -7px;
}
.testimonial-card > img{
  width: 1.2rem;
  height: 2rem;
  object-fit: contain;
}
/* About Us */
  .about-us{
    gap: 10vw;
    min-height: 15rem;
  }
  .about-us h1{
    font-size: 30px;
  }
  .about-us h2{
    font-size: 20px;
  }
  .about-subtext{
    font-size: 10px;
    margin-top: -10px;
  }
  .double-image{
    max-height: 12rem;
    width: 80%;
  }
  .about-1{
    left: 0;
    top: 0;
  }
  .about-2{
    top: -3rem;
    left: 4rem;
  }
  .about-us-page{
    gap: 10vw;
    min-height: 15rem;
  }
  .about-us-page h1{
    font-size: 30px;
  }
  .about-us-page h2{
    font-size: 20px;
  }
  .about-us-page .about-subtext{
    font-size: 14px;
  }
  /* Footer */ 
  footer{
    min-height: 10rem;
    margin-bottom: -2rem;
    padding: 0.9rem 0rem;
  }
  .footer-header{
    font-size: 20px;
  }
  .footer-links{
    font-size: 13px;
    margin-top: 20px;
  }
  .img-footer img{
    width: 40%;
    height: 70%;
  }
  /* Headers */
  .reserve-header-text{
    font-size: 14px;
    padding: -5rem 4rem;
  }
  .header-reserve{
    margin-top: 15px;
    width: 100%;
    height: 200px;
  }
  .confirmation-img{
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
  .confirmation-header h1{
    font-size: 17px;
  }
  .confirmation-header h4{
    font-size: 12px;
  }
  .redirect-button{
    font-size: 11px;
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      min-width: 10vw;
      font-family: "Karla";
  }
  .confirmation-header{
    padding: -1rem;
  }
  .redirect-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    gap: 10vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}


@keyframes slideDownFade {
  0%{
    transform: translate(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.carousel > .thumbs-wrapper {
  display: none;
}